    <h1>Pokemon Details Page</h1>
    <h2>Details for: {{result.name}}</h2>
    <li>Type: {{result.type}}</li>
    <li>Species: {{result.species}}</li>
    <li>Region: {{result.region}}</li>
    
    </br>
    <p>Results of query: {{details}}</p>
    </br>
    <a href="/">Return</a>
